<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/wwwroot/css/site.css" />

    <script src="~/wwwroot/lib/jquery/dist/jquery.js"></script>
    <script src="~/wwwroot/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/wwwroot/lib/core-js/client/shim.js"></script>
    <script src="~/wwwroot/lib/zone.js/dist/zone.js"></script>
    <script src="~/wwwroot/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/wwwroot/lib/systemjs/dist/system.src.js"></script>

    <script src="~/wwwroot/js/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <div class="container">
        <no404-bo-app>Loading...</no404-bo-app>
    </div>
    @RenderBody()
</body>
</html>